Using [Sentire: Phrase-Level Sentiment Analysis](https://github.com/evison/Sentires) to analyze Amazon data. 
Preprocessing output to achieve required dataframe format, including fields: reviewerID, asin, overall, unixReviewTime, aspect_pos, aspect, opinion_pos, opinion, sentence, sentence_length, sentence_count, sentiment

In [1]:
import os
import json
import gzip
import pandas as pd
from urllib.request import urlopen
import matplotlib.pyplot as plt

In [2]:
cd /content

/content

In [3]:
!wget http://snap.stanford.edu/data/amazon/productGraph/categoryFiles/reviews_Cell_Phones_and_Accessories_5.json.gz

--2021-03-03 03:36:00--  http://snap.stanford.edu/data/amazon/productGraph/categoryFiles/reviews_Cell_Phones_and_Accessories_5.json.gz
Resolving snap.stanford.edu (snap.stanford.edu)... 171.64.75.80
Connecting to snap.stanford.edu (snap.stanford.edu)|171.64.75.80|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 45409631 (43M) [application/x-gzip]
Saving to: ‘reviews_Cell_Phones_and_Accessories_5.json.gz’

reviews_Cell_Phones 100%[===================>]  43.31M  1.75MB/s    in 17s

2021-03-03 03:36:17 (2.60 MB/s) - ‘reviews_Cell_Phones_and_Accessories_5.json.gz’ saved [45409631/45409631]

In [4]:
# ### Load the review data
ori_data = []
with gzip.open('reviews_Cell_Phones_and_Accessories_5.json.gz') as f:
    for l in f:
        ori_data.append(json.loads(l.strip()))
    
# total length of list, this number equals total number of products
print(len(ori_data))

# first row of the list
print(ori_data[0])

194439
{'reviewerID': 'A30TL5EWN6DFXT', 'asin': '120401325X', 'reviewerName': 'christina', 'helpful': [0, 0], 'reviewText': "They look good and stick good! I just don't like the rounded shape because I was always bumping it and Siri kept popping up and it was irritating. I just won't buy a product like this again", 'overall': 4.0, 'summary': 'Looks Good', 'unixReviewTime': 1400630400, 'reviewTime': '05 21, 2014'}

In [5]:
import json
with open('cellphone.txt', 'w') as f:
    for item in ori_data:
      f.write(json.dumps(item))
      f.write('\n')

In [6]:
!gdown --id 1RMYPsnxNEUPAH8YQ2iyVRHkVKBek0A0z

Downloading...
From: https://drive.google.com/uc?id=1RMYPsnxNEUPAH8YQ2iyVRHkVKBek0A0z
To: /content/English-Jar.zip
318MB [00:04, 74.5MB/s]

In [7]:
!unzip English-Jar.zip

Archive:  English-Jar.zip
   creating: English-Jar/
  inflating: __MACOSX/._English-Jar
   creating: English-Jar/res/
  inflating: __MACOSX/English-Jar/._res
  inflating: English-Jar/.DS_Store
  inflating: __MACOSX/English-Jar/._.DS_Store
   creating: English-Jar/preset/
  inflating: __MACOSX/English-Jar/._preset
   creating: English-Jar/corpus/
  inflating: __MACOSX/English-Jar/._corpus
  inflating: English-Jar/DOIT.bat
  inflating: __MACOSX/English-Jar/._DOIT.bat
  inflating: English-Jar/thuir-sentires.jar
  inflating: __MACOSX/English-Jar/._thuir-sentires.jar
   creating: English-Jar/profile/
  inflating: __MACOSX/English-Jar/._profile
   creating: English-Jar/task/
  inflating: __MACOSX/English-Jar/._task
   creating: English-Jar/log/
  inflating: __MACOSX/English-Jar/._log
   creating: English-Jar/lexicon/
  inflating: __MACOSX/English-Jar/._lexicon
   creating: English-Jar/data/
  inflating: __MACOSX/English-Jar/._data
   creating: English-Jar/conf/
  inflating: __MACOSX/English-Jar/._conf
   creating: English-Jar/pool/
  inflating: __MACOSX/English-Jar/._pool
  inflating: English-Jar/Project-configuration-and-usage.pdf
  inflating: __MACOSX/English-Jar/._Project-configuration-and-usage.pdf
   creating: English-Jar/debug/
  inflating: __MACOSX/English-Jar/._debug
  inflating: English-Jar/res/iconj.res
  inflating: __MACOSX/English-Jar/res/._iconj.res
  inflating: English-Jar/res/iconj.eng.res
  inflating: __MACOSX/English-Jar/res/._iconj.eng.res
  inflating: English-Jar/res/.DS_Store
  inflating: __MACOSX/English-Jar/res/._.DS_Store
  inflating: English-Jar/res/body.res
  inflating: __MACOSX/English-Jar/res/._body.res
  inflating: English-Jar/res/iadv.eng.res
  inflating: __MACOSX/English-Jar/res/._iadv.eng.res
  inflating: English-Jar/res/pos.eng.res
  inflating: __MACOSX/English-Jar/res/._pos.eng.res
  inflating: English-Jar/res/neg.eng.res
  inflating: __MACOSX/English-Jar/res/._neg.eng.res
  inflating: English-Jar/res/bg.eng.res
  inflating: __MACOSX/English-Jar/res/._bg.eng.res
  inflating: English-Jar/res/english-bidirectional-distsim.tagger.props
  inflating: __MACOSX/English-Jar/res/._english-bidirectional-distsim.tagger.props
  inflating: English-Jar/res/bg.res
  inflating: __MACOSX/English-Jar/res/._bg.res
  inflating: English-Jar/res/neu.res
  inflating: __MACOSX/English-Jar/res/._neu.res
  inflating: English-Jar/res/neu.eng.res
  inflating: __MACOSX/English-Jar/res/._neu.eng.res
  inflating: English-Jar/res/pos.res
  inflating: __MACOSX/English-Jar/res/._pos.res
  inflating: English-Jar/res/english-bidirectional-distsim.tagger
  inflating: __MACOSX/English-Jar/res/._english-bidirectional-distsim.tagger
  inflating: English-Jar/res/neg.res
  inflating: __MACOSX/English-Jar/res/._neg.res
  inflating: English-Jar/res/iadv.res
  inflating: __MACOSX/English-Jar/res/._iadv.res
  inflating: English-Jar/preset/default.pattern
  inflating: __MACOSX/English-Jar/preset/._default.pattern
  inflating: English-Jar/preset/english.resource
  inflating: __MACOSX/English-Jar/preset/._english.resource
  inflating: English-Jar/preset/relax.threshold
  inflating: __MACOSX/English-Jar/preset/._relax.threshold
  inflating: English-Jar/preset/english.pattern
  inflating: __MACOSX/English-Jar/preset/._english.pattern
  inflating: English-Jar/preset/strict.threshold
  inflating: __MACOSX/English-Jar/preset/._strict.threshold
  inflating: English-Jar/preset/default.mapping
  inflating: __MACOSX/English-Jar/preset/._default.mapping
  inflating: English-Jar/preset/default.resource
  inflating: __MACOSX/English-Jar/preset/._default.resource
  inflating: English-Jar/corpus/2013.tv.gbk.seg
  inflating: __MACOSX/English-Jar/corpus/._2013.tv.gbk.seg
  inflating: English-Jar/corpus/bg.lower.seg
  inflating: __MACOSX/English-Jar/corpus/._bg.lower.seg
  inflating: English-Jar/corpus/2014.nus.utf.small.seg
  inflating: __MACOSX/English-Jar/corpus/._2014.nus.utf.small.seg
  inflating: English-Jar/corpus/2014.nus.utf.seg
  inflating: __MACOSX/English-Jar/corpus/._2014.nus.utf.seg
  inflating: English-Jar/profile/2013.tv.utf.rerank.index
  inflating: __MACOSX/English-Jar/profile/._2013.tv.utf.rerank.index
  inflating: English-Jar/profile/.DS_Store
  inflating: __MACOSX/English-Jar/profile/._.DS_Store
  inflating: English-Jar/profile/2013.tv.utf.index
  inflating: __MACOSX/English-Jar/profile/._2013.tv.utf.index
  inflating: English-Jar/profile/2014.nus.utf.rerank.index
  inflating: __MACOSX/English-Jar/profile/._2014.nus.utf.rerank.index
  inflating: English-Jar/profile/2015.nus.utf.indicator
  inflating: __MACOSX/English-Jar/profile/._2015.nus.utf.indicator
  inflating: English-Jar/profile/2014.nus.utf.index
  inflating: __MACOSX/English-Jar/profile/._2014.nus.utf.index
  inflating: English-Jar/profile/2014.nus.pos.profile
  inflating: __MACOSX/English-Jar/profile/._2014.nus.pos.profile
  inflating: English-Jar/profile/2013.tv.utf.neg.profile
  inflating: __MACOSX/English-Jar/profile/._2013.tv.utf.neg.profile
  inflating: English-Jar/profile/2014.nus.neg.profile
  inflating: __MACOSX/English-Jar/profile/._2014.nus.neg.profile
  inflating: English-Jar/profile/2013.tv.utf.pos.profile
  inflating: __MACOSX/English-Jar/profile/._2013.tv.utf.pos.profile
  inflating: English-Jar/task/2014.nus.validate.task
  inflating: __MACOSX/English-Jar/task/._2014.nus.validate.task
  inflating: English-Jar/task/2013.tv.lexicon.task
  inflating: __MACOSX/English-Jar/task/._2013.tv.lexicon.task
  inflating: English-Jar/task/2014.nus.profile.task
  inflating: __MACOSX/English-Jar/task/._2014.nus.profile.task
  inflating: English-Jar/task/2014.nus.pos.task
  inflating: __MACOSX/English-Jar/task/._2014.nus.pos.task
  inflating: English-Jar/task/2013.tv.crawler.task
  inflating: __MACOSX/English-Jar/task/._2013.tv.crawler.task
  inflating: English-Jar/task/2015.nus.profile.task
  inflating: __MACOSX/English-Jar/task/._2015.nus.profile.task
  inflating: English-Jar/task/2013.tv.validate.task
  inflating: __MACOSX/English-Jar/task/._2013.tv.validate.task
  inflating: English-Jar/task/2014.nus.lexicon.small.task
  inflating: __MACOSX/English-Jar/task/._2014.nus.lexicon.small.task
  inflating: English-Jar/task/2014.nus.lexicon.task
  inflating: __MACOSX/English-Jar/task/._2014.nus.lexicon.task
  inflating: English-Jar/task/2013.tv.profile.task
  inflating: __MACOSX/English-Jar/task/._2013.tv.profile.task
  inflating: English-Jar/task/2013.tv.pre.task
  inflating: __MACOSX/English-Jar/task/._2013.tv.pre.task
  inflating: English-Jar/task/2013.tv.eval.task
  inflating: __MACOSX/English-Jar/task/._2013.tv.eval.task
  inflating: English-Jar/task/2014.nus.pre.task
  inflating: __MACOSX/English-Jar/task/._2014.nus.pre.task
  inflating: English-Jar/task/2014.nus.bg.task
  inflating: __MACOSX/English-Jar/task/._2014.nus.bg.task
  inflating: English-Jar/lexicon/.DS_Store
  inflating: __MACOSX/English-Jar/lexicon/._.DS_Store
  inflating: English-Jar/lexicon/2014.nus.utf.small.lexicon
  inflating: __MACOSX/English-Jar/lexicon/._2014.nus.utf.small.lexicon
  inflating: English-Jar/lexicon/2014.nus.utf.lexicon
  inflating: __MACOSX/English-Jar/lexicon/._2014.nus.utf.lexicon
  inflating: English-Jar/data/.DS_Store
  inflating: __MACOSX/English-Jar/data/._.DS_Store
   creating: English-Jar/data/hl/
  inflating: __MACOSX/English-Jar/data/._hl
   creating: English-Jar/data/stanford/
  inflating: __MACOSX/English-Jar/data/._stanford
   creating: English-Jar/data/opinion/
  inflating: __MACOSX/English-Jar/data/._opinion
   creating: English-Jar/data/sbc2dbc/
  inflating: __MACOSX/English-Jar/data/._sbc2dbc
   creating: English-Jar/data/product/
  inflating: __MACOSX/English-Jar/data/._product
   creating: English-Jar/data/feature/
  inflating: __MACOSX/English-Jar/data/._feature
   creating: English-Jar/data/seg/
  inflating: __MACOSX/English-Jar/data/._seg
   creating: English-Jar/data/select/
  inflating: __MACOSX/English-Jar/data/._select
   creating: English-Jar/data/raw/
  inflating: __MACOSX/English-Jar/data/._raw
   creating: English-Jar/data/ictclas/
  inflating: __MACOSX/English-Jar/data/._ictclas
  inflating: English-Jar/conf/system.properties
  inflating: __MACOSX/English-Jar/conf/._system.properties
  inflating: English-Jar/conf/log.properties
  inflating: __MACOSX/English-Jar/conf/._log.properties
  inflating: English-Jar/pool/.DS_Store
  inflating: __MACOSX/English-Jar/pool/._.DS_Store
   creating: English-Jar/pool/qrel/
  inflating: __MACOSX/English-Jar/pool/._qrel
   creating: English-Jar/pool/lres/
  inflating: __MACOSX/English-Jar/pool/._lres
   creating: English-Jar/pool/final/
  inflating: __MACOSX/English-Jar/pool/._final
   creating: English-Jar/pool/label-rules/
  inflating: __MACOSX/English-Jar/pool/._label-rules
  inflating: English-Jar/debug/debug.adverb.list
  inflating: __MACOSX/English-Jar/debug/._debug.adverb.list
  inflating: English-Jar/debug/debug.opinion
  inflating: __MACOSX/English-Jar/debug/._debug.opinion
  inflating: English-Jar/debug/debug.function.list
  inflating: __MACOSX/English-Jar/debug/._debug.function.list
  inflating: English-Jar/debug/debug.suspected.spam
  inflating: __MACOSX/English-Jar/debug/._debug.suspected.spam
  inflating: English-Jar/debug/debug.feature
  inflating: __MACOSX/English-Jar/debug/._debug.feature
  inflating: English-Jar/debug/debug.stopverb.list
  inflating: __MACOSX/English-Jar/debug/._debug.stopverb.list
  inflating: English-Jar/data/hl/2013.tv.gbk.comment.HL.segment.bak
  inflating: __MACOSX/English-Jar/data/hl/._2013.tv.gbk.comment.HL.segment.bak
  inflating: English-Jar/data/hl/2013.tv.gbk.select.hl.seg.bak
  inflating: __MACOSX/English-Jar/data/hl/._2013.tv.gbk.select.hl.seg.bak
  inflating: English-Jar/data/hl/2013.toshiba.gbk.select.hl.seg
  inflating: __MACOSX/English-Jar/data/hl/._2013.toshiba.gbk.select.hl.seg
  inflating: English-Jar/data/hl/2013.tv.gbk.comment.HL.segment
  inflating: __MACOSX/English-Jar/data/hl/._2013.tv.gbk.comment.HL.segment
  inflating: English-Jar/data/stanford/.DS_Store
  inflating: __MACOSX/English-Jar/data/stanford/._.DS_Store
  inflating: English-Jar/data/stanford/2014.nus.utf.select.stanford.seg
  inflating: __MACOSX/English-Jar/data/stanford/._2014.nus.utf.select.stanford.seg
  inflating: English-Jar/data/stanford/2014.nus.utf.select.stanford.seg.1
  inflating: __MACOSX/English-Jar/data/stanford/._2014.nus.utf.select.stanford.seg.1
  inflating: English-Jar/data/stanford/bg.lower.seg
  inflating: __MACOSX/English-Jar/data/stanford/._bg.lower.seg
  inflating: English-Jar/data/stanford/2014.nus.utf.select.stanford.seg.2
  inflating: __MACOSX/English-Jar/data/stanford/._2014.nus.utf.select.stanford.seg.2
  inflating: English-Jar/data/opinion/stop.opinion
  inflating: __MACOSX/English-Jar/data/opinion/._stop.opinion
  inflating: English-Jar/data/opinion/2013.tv.gbk.label.opinion
  inflating: __MACOSX/English-Jar/data/opinion/._2013.tv.gbk.label.opinion
  inflating: English-Jar/data/opinion/2014.nus.utf.label.opinion
  inflating: __MACOSX/English-Jar/data/opinion/._2014.nus.utf.label.opinion
  inflating: English-Jar/data/sbc2dbc/sbc2dbc.dict
  inflating: __MACOSX/English-Jar/data/sbc2dbc/._sbc2dbc.dict
  inflating: English-Jar/data/product/2014.nus.utf.product
  inflating: __MACOSX/English-Jar/data/product/._2014.nus.utf.product
  inflating: English-Jar/data/product/2014.nus.utf.small.product
  inflating: __MACOSX/English-Jar/data/product/._2014.nus.utf.small.product
  inflating: English-Jar/data/product/2013.tv.gbk.product
  inflating: __MACOSX/English-Jar/data/product/._2013.tv.gbk.product
  inflating: English-Jar/data/feature/2013.tv.gbk.label.feature
  inflating: __MACOSX/English-Jar/data/feature/._2013.tv.gbk.label.feature
  inflating: English-Jar/data/feature/manual.feature
  inflating: __MACOSX/English-Jar/data/feature/._manual.feature
  inflating: English-Jar/data/feature/2014.nus.utf.label.feature
  inflating: __MACOSX/English-Jar/data/feature/._2014.nus.utf.label.feature
  inflating: English-Jar/data/feature/stop.feature
  inflating: __MACOSX/English-Jar/data/feature/._stop.feature
  inflating: English-Jar/data/seg/.DS_Store
  inflating: __MACOSX/English-Jar/data/seg/._.DS_Store
  inflating: English-Jar/data/seg/2014.nus.utf.seg.1
  inflating: __MACOSX/English-Jar/data/seg/._2014.nus.utf.seg.1
  inflating: English-Jar/data/seg/2013.toshiba.gbk.seg
  inflating: __MACOSX/English-Jar/data/seg/._2013.toshiba.gbk.seg
  inflating: English-Jar/data/seg/2013.tv.gbk.seg
  inflating: __MACOSX/English-Jar/data/seg/._2013.tv.gbk.seg
  inflating: English-Jar/data/seg/bg.lower.seg
  inflating: __MACOSX/English-Jar/data/seg/._bg.lower.seg
  inflating: English-Jar/data/seg/2014.nus.utf.seg
  inflating: __MACOSX/English-Jar/data/seg/._2014.nus.utf.seg
  inflating: English-Jar/data/select/2013.tv.gbk.select
  inflating: __MACOSX/English-Jar/data/select/._2013.tv.gbk.select
  inflating: English-Jar/data/select/.DS_Store
  inflating: __MACOSX/English-Jar/data/select/._.DS_Store
  inflating: English-Jar/data/select/2014.nus.utf.select
  inflating: __MACOSX/English-Jar/data/select/._2014.nus.utf.select
  inflating: English-Jar/data/select/2013.tv.gbk.comment
  inflating: __MACOSX/English-Jar/data/select/._2013.tv.gbk.comment
  inflating: English-Jar/data/select/bg.lower.select
  inflating: __MACOSX/English-Jar/data/select/._bg.lower.select
  inflating: English-Jar/data/raw/2013.toshiba.gbk.raw
  inflating: __MACOSX/English-Jar/data/raw/._2013.toshiba.gbk.raw
  inflating: English-Jar/data/raw/bg.raw
  inflating: __MACOSX/English-Jar/data/raw/._bg.raw
  inflating: English-Jar/data/raw/2013.tv.gbk.raw
  inflating: __MACOSX/English-Jar/data/raw/._2013.tv.gbk.raw
  inflating: English-Jar/data/raw/2014.nus.utf.raw
  inflating: __MACOSX/English-Jar/data/raw/._2014.nus.utf.raw
  inflating: English-Jar/data/ictclas/2013.tv.gbk.select.ictclas.seg
  inflating: __MACOSX/English-Jar/data/ictclas/._2013.tv.gbk.select.ictclas.seg
  inflating: English-Jar/data/ictclas/2013.tv.gbk.comment.ictclas.seg.bak
  inflating: __MACOSX/English-Jar/data/ictclas/._2013.tv.gbk.comment.ictclas.seg.bak
  inflating: English-Jar/data/ictclas/2013.toshiba.gbk.select.ictclas.seg
  inflating: __MACOSX/English-Jar/data/ictclas/._2013.toshiba.gbk.select.ictclas.seg
  inflating: English-Jar/data/ictclas/2013.tv.gbk.comment.ictclas.seg
  inflating: __MACOSX/English-Jar/data/ictclas/._2013.tv.gbk.comment.ictclas.seg
   creating: English-Jar/pool/qrel/zh/
  inflating: __MACOSX/English-Jar/pool/qrel/._zh
   creating: English-Jar/pool/qrel/en/
  inflating: __MACOSX/English-Jar/pool/qrel/._en
   creating: English-Jar/pool/lres/fopair/
  inflating: __MACOSX/English-Jar/pool/lres/._fopair
   creating: English-Jar/pool/lres/feature/
  inflating: __MACOSX/English-Jar/pool/lres/._feature
  inflating: English-Jar/pool/final/.DS_Store
  inflating: __MACOSX/English-Jar/pool/final/._.DS_Store
   creating: English-Jar/pool/final/zh/
  inflating: __MACOSX/English-Jar/pool/final/._zh
   creating: English-Jar/pool/final/en/
  inflating: __MACOSX/English-Jar/pool/final/._en
  inflating: English-Jar/pool/label-rules/tags-dc.txt
  inflating: __MACOSX/English-Jar/pool/label-rules/._tags-dc.txt
  inflating: English-Jar/pool/label-rules/tags-cosmetic.txt
  inflating: __MACOSX/English-Jar/pool/label-rules/._tags-cosmetic.txt
  inflating: English-Jar/pool/label-rules/tags-restaurant.txt
  inflating: __MACOSX/English-Jar/pool/label-rules/._tags-restaurant.txt
  inflating: English-Jar/pool/qrel/en/2013.tv.qrel
  inflating: __MACOSX/English-Jar/pool/qrel/en/._2013.tv.qrel
  inflating: English-Jar/pool/lres/fopair/2013.tv.gbk.lexicon.lres
  inflating: __MACOSX/English-Jar/pool/lres/fopair/._2013.tv.gbk.lexicon.lres
  inflating: English-Jar/pool/lres/feature/2013.tv.lres
  inflating: __MACOSX/English-Jar/pool/lres/feature/._2013.tv.lres
  inflating: English-Jar/pool/final/zh/camera.merge.final
  inflating: __MACOSX/English-Jar/pool/final/zh/._camera.merge.final
  inflating: English-Jar/pool/final/zh/comment.camera.ø‚∞Õπ∫ŒÔÕ¯.final
  inflating: __MACOSX/English-Jar/pool/final/zh/._comment.camera.ø‚∞Õπ∫ŒÔÕ¯.final
  inflating: English-Jar/pool/final/zh/comment.cosmetic.æ©∂´…Ã≥«.final
  inflating: __MACOSX/English-Jar/pool/final/zh/._comment.cosmetic.æ©∂´…Ã≥«.final
  inflating: English-Jar/pool/final/zh/comment.camera.“◊—∂Õ¯.final
  inflating: __MACOSX/English-Jar/pool/final/zh/._comment.camera.“◊—∂Õ¯.final
  inflating: English-Jar/pool/final/zh/comment.cosmetic.◊ø‘Ω—«¬Ì—∑.final
  inflating: __MACOSX/English-Jar/pool/final/zh/._comment.cosmetic.◊ø‘Ω—«¬Ì—∑.final
  inflating: English-Jar/pool/final/zh/comment.camera.À’ƒ˛“◊π∫.final
  inflating: __MACOSX/English-Jar/pool/final/zh/._comment.camera.À’ƒ˛“◊π∫.final
  inflating: English-Jar/pool/final/zh/comment.camera.tail.final
  inflating: __MACOSX/English-Jar/pool/final/zh/._comment.camera.tail.final
  inflating: English-Jar/pool/final/zh/comment.cosmetic.∞¢∞ÓÕ¯.final
  inflating: __MACOSX/English-Jar/pool/final/zh/._comment.cosmetic.∞¢∞ÓÕ¯.final
  inflating: English-Jar/pool/final/zh/comment.camera.÷–πÿ¥Â‘⁄œﬂ.final
  inflating: __MACOSX/English-Jar/pool/final/zh/._comment.camera.÷–πÿ¥Â‘⁄œﬂ.final
  inflating: English-Jar/pool/final/zh/comment.camera.it168.final
  inflating: __MACOSX/English-Jar/pool/final/zh/._comment.camera.it168.final
  inflating: English-Jar/pool/final/zh/comment.camera.Ã´∆Ω—ÛµÁƒ‘Õ¯.final
  inflating: __MACOSX/English-Jar/pool/final/zh/._comment.camera.Ã´∆Ω—ÛµÁƒ‘Õ¯.final
  inflating: English-Jar/pool/final/zh/comment.cosmetic.¬∂ŸªÕ¯.final
  inflating: __MACOSX/English-Jar/pool/final/zh/._comment.cosmetic.¬∂ŸªÕ¯.final
  inflating: English-Jar/pool/final/zh/comment.cosmetic.etao.final
  inflating: __MACOSX/English-Jar/pool/final/zh/._comment.cosmetic.etao.final
  inflating: English-Jar/pool/final/zh/comment.cosmetic.yoka ±…–.final
  inflating: __MACOSX/English-Jar/pool/final/zh/._comment.cosmetic.yoka ±…–.final
  inflating: English-Jar/pool/final/zh/comment.camera.…´”∞Œﬁº….final
  inflating: __MACOSX/English-Jar/pool/final/zh/._comment.camera.…´”∞Œﬁº….final
  inflating: English-Jar/pool/final/en/2013.tv.gbk.comment
  inflating: __MACOSX/English-Jar/pool/final/en/._2013.tv.gbk.comment

In [13]:
cd /content/English-Jar

/content/English-Jar

In [14]:
!git clone https://github.com/lileipisces/Sentires-Guide.git

Cloning into 'Sentires-Guide'...
remote: Enumerating objects: 76, done.
remote: Counting objects: 100% (76/76), done.
remote: Compressing objects: 100% (72/72), done.
remote: Total 76 (delta 18), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (76/76), done.

In [15]:
mv ./Sentires-Guide/lei /content/English-Jar/

In [16]:
mv ./Sentires-Guide/run_lei.sh /content/English-Jar/

In [17]:
mv /content/cellphone.txt /content/English-Jar/lei/input

In [35]:
!touch /content/English-Jar/lei/input/record.per.row.txt /content/English-Jar/lei/input/records.per.product.txt /content/English-Jar/lei/input/product2json.pickle

In [36]:
!python lei/0.format.py

In [37]:
!java -jar thuir-sentires.jar -t pre -c lei/1.pre

0    INFO  2021-03-03 03:50:07 Context - Use /content/English-Jar as home directory
3471 INFO  2021-03-03 03:50:10 Preprocessing - Loading finished with totally 194439 entries.
3752 INFO  2021-03-03 03:50:10 Preprocessing - Sorting finished.
37658 INFO  2021-03-03 03:50:44 Preprocessing - Have processed 10000 entries.
52933 INFO  2021-03-03 03:51:00 Preprocessing - Have processed 20000 entries.
65710 INFO  2021-03-03 03:51:12 Preprocessing - Have processed 30000 entries.
78171 INFO  2021-03-03 03:51:25 Preprocessing - Have processed 40000 entries.
94909 INFO  2021-03-03 03:51:42 Preprocessing - Have processed 50000 entries.
106043 INFO  2021-03-03 03:51:53 Preprocessing - Have processed 60000 entries.
115738 INFO  2021-03-03 03:52:02 Preprocessing - Have processed 70000 entries.
131948 INFO  2021-03-03 03:52:19 Preprocessing - Have processed 80000 entries.
144775 INFO  2021-03-03 03:52:31 Preprocessing - Have processed 90000 entries.
158107 INFO  2021-03-03 03:52:45 Preprocessing - Have processed 100000 entries.
168014 INFO  2021-03-03 03:52:55 Preprocessing - Have processed 110000 entries.
178632 INFO  2021-03-03 03:53:05 Preprocessing - Have processed 120000 entries.
192459 INFO  2021-03-03 03:53:19 Preprocessing - Have processed 130000 entries.
206181 INFO  2021-03-03 03:53:33 Preprocessing - Have processed 140000 entries.
220538 INFO  2021-03-03 03:53:47 Preprocessing - Have processed 150000 entries.
237070 INFO  2021-03-03 03:54:04 Preprocessing - Have processed 160000 entries.
261999 INFO  2021-03-03 03:54:29 Preprocessing - Have processed 170000 entries.
278566 INFO  2021-03-03 03:54:45 Preprocessing - Have processed 180000 entries.
294294 INFO  2021-03-03 03:55:01 Preprocessing - Have processed 190000 entries.
300183 INFO  2021-03-03 03:55:07 Preprocessing - Finally select 194286 entries.

In [38]:
!java -jar thuir-sentires.jar -t pos -c lei/2.pos

0    INFO  2021-03-03 03:55:09 Context - Use /content/English-Jar as home directory
res/english-bidirectional-distsim.tagger
Reading POS tagger model from res/english-bidirectional-distsim.tagger ... done [1.3 sec].

In [39]:
!cp lei/intermediate/pos.1.txt lei/intermediate/pos.2.txt

In [40]:
!java -jar thuir-sentires.jar -t validate -c lei/3.validate

0    INFO  2021-03-03 07:04:27 Context - Use /content/English-Jar as home directory

In [ ]:
!java -jar thuir-sentires.jar -t lexicon -c lei/4.lexicon.linux

In [42]:
!java -jar thuir-sentires.jar -t profile -c lei/5.profile

0    INFO  2021-03-03 07:04:34 NewProfileConstructor - Reading the configuration file...
32   INFO  2021-03-03 07:04:34 Context - Use /content/English-Jar as home directory
Exception in thread "main" java.lang.NullPointerException
	at edu.thuir.sentires.profile.Lexicon.<init>(Lexicon.java:91)
	at edu.thuir.sentires.profile.NewProfileConstructor.constructProfile(NewProfileConstructor.java:100)
	at edu.thuir.sentires.program.Application.constructProfile(Application.java:102)
	at edu.thuir.sentires.program.Application.main(Application.java:172)

In [ ]:
!python lei/6.transform.py

In [ ]:
!python lei/7.match.py

In [ ]:
import pickle

In [ ]:
with open('/content/English-Jar/lei/output/reviews.pickle', 'rb') as f:
  data = pickle.load(f)

In [ ]:
type(data)

list

In [ ]:
import pandas as pd
df = pd.DataFrame(data)
df.head()

             user  ...                                           sentence
0  A1KLRMWW2FWPL4  ...  [(look, on, I'm so glad I looked on Amazon and...
1  A2G5TCU2WDFZ65  ...  [(sleeve, long, I bought this to go with a lig...
2  A1RLQXYNCMWRWN  ...  [(pink, white, white and pink and I am thinkin...
3   A8U3FAMSJVHS5  ...                                                NaN
4  A3GEOILWLK86XM  ...  [(product, great, Thanks for a great product, ...

[5 rows x 5 columns]

In [ ]:
len(df)

278677

In [ ]:
df.head()

             user  ...                                           sentence
0  A1KLRMWW2FWPL4  ...  [(look, on, I'm so glad I looked on Amazon and...
1  A2G5TCU2WDFZ65  ...  [(sleeve, long, I bought this to go with a lig...
2  A1RLQXYNCMWRWN  ...  [(pink, white, white and pink and I am thinkin...
3   A8U3FAMSJVHS5  ...                                                NaN
4  A3GEOILWLK86XM  ...  [(product, great, Thanks for a great product, ...

[5 rows x 5 columns]

In [ ]:
df.shape

(278677, 5)

In [ ]:
ori_df[['unixReviewTime', 'asin', 'reviewerID']]

        unixReviewTime        asin      reviewerID
0           1297468800  0000031887  A1KLRMWW2FWPL4
1           1358553600  0000031887  A2G5TCU2WDFZ65
2           1357257600  0000031887  A1RLQXYNCMWRWN
3           1398556800  0000031887   A8U3FAMSJVHS5
4           1394841600  0000031887  A3GEOILWLK86XM
...                ...         ...             ...
278672      1403568000  B00KKXCJQU  A2DG63DN704LOI
278673      1403740800  B00KKXCJQU  A1EVV74UQYVKRY
278674      1402185600  B00KKXCJQU  A1UQBFCERIP7VJ
278675      1404691200  B00KKXCJQU  A22CW0ZHY3NJH8
278676      1403481600  B00KKXCJQU  A30VWT3R25QAVD

[278677 rows x 3 columns]

In [ ]:
unixReviewTime = ori_df.sort_values(['reviewerID', 'asin'])['unixReviewTime']

In [ ]:
df.sort_values(['user', 'item'], inplace=True)

In [ ]:
df.head()

                         user  ...                                           sentence
30668   A001114613O3F18Q5NVR6  ...  [(pockets, good, The pockets are good too sinc...
55901   A001114613O3F18Q5NVR6  ...                                                NaN
72389   A001114613O3F18Q5NVR6  ...  [(look, like, They were nice and shiny and loo...
122588  A001114613O3F18Q5NVR6  ...                                                NaN
135480  A001114613O3F18Q5NVR6  ...  [(look, real, They really looked like leather ...

[5 rows x 5 columns]

In [ ]:
df.loc[:, 'unixReviewTime'] = unixReviewTime

In [ ]:
df

                         user  ... unixReviewTime
30668   A001114613O3F18Q5NVR6  ...     1370908800
55901   A001114613O3F18Q5NVR6  ...     1352246400
72389   A001114613O3F18Q5NVR6  ...     1350518400
122588  A001114613O3F18Q5NVR6  ...     1350518400
135480  A001114613O3F18Q5NVR6  ...     1350518400
...                       ...  ...            ...
111105          AZZYW4YOE1B6E  ...     1386633600
126108          AZZYW4YOE1B6E  ...     1357776000
190766          AZZYW4YOE1B6E  ...     1377907200
194885          AZZYW4YOE1B6E  ...     1388534400
212798          AZZYW4YOE1B6E  ...     1395792000

[278677 rows x 6 columns]

In [ ]:
df.shape

(278677, 6)

In [ ]:
df.rename(columns={'user': 'reviewerID', 'item': 'asin', 'rating': 'overall'}, inplace=True)

In [ ]:
df['text'][8]

'My daughter liked this, and it with her costume, but she would have liked it to be a bit fuller.'

In [ ]:
df.reset_index(inplace=True)

In [ ]:
df.head()

    index  ... unixReviewTime
0   30668  ...     1370908800
1   55901  ...     1352246400
2   72389  ...     1350518400
3  122588  ...     1350518400
4  135480  ...     1350518400

[5 rows x 7 columns]

In [ ]:
df.drop(['index'], axis=1, inplace=True)

In [ ]:
df.drop(['text'], axis=1, inplace=True)

In [ ]:
df.head()

              reviewerID  ... unixReviewTime
0  A012468118FTQAINEI0OQ  ...     1360108800
1  A012468118FTQAINEI0OQ  ...     1356220800
2  A012468118FTQAINEI0OQ  ...     1360108800
3  A012468118FTQAINEI0OQ  ...     1360108800
4  A012468118FTQAINEI0OQ  ...     1361836800

[5 rows x 5 columns]

In [ ]:
df['sentence'][0]

[('product', 'good', 'good product', 1, 1),
 ('product',
  'good',
  'This is good product to have with unlimited possibilities',
  1,
  1),
 ('size', 'nice', "It's a nice size & works very well for our needs", 1, 1)]

In [ ]:
df = df.explode('sentence').reset_index(drop=True)

In [ ]:
df.rename(columns={'sentence': 'sentence_set'}, inplace=True)

In [ ]:
df.head()

              reviewerID  ... unixReviewTime
0  A012468118FTQAINEI0OQ  ...     1360108800
1  A012468118FTQAINEI0OQ  ...     1356220800
2  A012468118FTQAINEI0OQ  ...     1360108800
3  A012468118FTQAINEI0OQ  ...     1360108800
4  A012468118FTQAINEI0OQ  ...     1361836800

[5 rows x 5 columns]

In [ ]:
df.dropna(inplace=True)

In [ ]:
df.loc[:, 'aspect'] = df.sentence_set.map(lambda x: x[0].replace(' ', '_'))

In [ ]:
df.head()

               reviewerID        asin  ...  unixReviewTime     aspect
0   A00625243BI8W1SSZNLMD  B0002GXF8Q  ...      1362787200      noise
5   A00625243BI8W1SSZNLMD  B000SAC5PA  ...      1353024000    quality
10         A10044ECXDUVKS  B000NJ2TIE  ...      1345161600      sound
11         A10044ECXDUVKS  B000NJ2TIE  ...      1345161600  recording
12         A10044ECXDUVKS  B002GYWBIM  ...      1345161600     weight

[5 rows x 6 columns]

In [ ]:
df.loc[:, 'opinion'] = df.sentence_set.map(lambda x: x[1].replace(' ', '_'))
df.loc[:, 'sentence_count'] = df.sentence_set.map(lambda x: x[3])
df.loc[:, 'sentiment'] = df.sentence_set.map(lambda x: x[-1])

In [ ]:
df.loc[:, 'sentence'] = df.sentence_set.map(lambda x: x[2].replace(x[0], x[0].replace(' ', '_')).replace(x[1], x[1].replace(' ', '_')))

In [ ]:
df.head()

               reviewerID  ...                                           sentence
1   A012468118FTQAINEI0OQ  ...                                          cute game
6    A0182108CPDLPRCXQUZQ  ...  This is the best toy for my sons of those that...
7    A0182108CPDLPRCXQUZQ  ...                                  This toy is great
9    A0182108CPDLPRCXQUZQ  ...  not sure they wrote real size of the figure th...
10   A0182108CPDLPRCXQUZQ  ...              My son will be 4 years old in 10 days

[5 rows x 10 columns]

In [ ]:
df.loc[:, 'sentence_len'] = df.sentence.map(lambda x: len(x))

In [ ]:
df.head()

               reviewerID  ... sentence_len
1   A012468118FTQAINEI0OQ  ...            9
6    A0182108CPDLPRCXQUZQ  ...           87
7    A0182108CPDLPRCXQUZQ  ...           17
9    A0182108CPDLPRCXQUZQ  ...          104
10   A0182108CPDLPRCXQUZQ  ...           37

[5 rows x 11 columns]

In [ ]:
def find_aspectpos(row):
  aspect = row['aspect']
  sentence = row['sentence']
  str_list = sentence.split()
  aspect_pos = -1
  for i, s in enumerate(str_list):
    if aspect in s:
      aspect_pos = i

  return aspect_pos

In [ ]:
df.loc[: , 'aspect_pos'] = df.apply(lambda x: find_aspectpos(x), axis=1)

In [ ]:
df[df['aspect_pos'] == -1]

Empty DataFrame
Columns: [reviewerID, asin, overall, sentence_set, unixReviewTime, aspect, opinion, sentence_count, sentiment, sentence, sentence_len, aspect_pos]
Index: []

In [ ]:
def find_opinionpos(row):
  opinion = row['opinion']
  sentence = row['sentence']
  str_list = sentence.split()
  opinion_pos = -1
  for i, s in enumerate(str_list):
    if opinion in s:
      opinion_pos = i

  return opinion_pos

In [ ]:
df.loc[: , 'opinion_pos'] = df.apply(lambda x: find_opinionpos(x), axis=1)

In [ ]:
df[df['opinion_pos'] == -1]

Empty DataFrame
Columns: [reviewerID, asin, overall, sentence_set, unixReviewTime, aspect, opinion, sentence_count, sentiment, sentence, sentence_len, aspect_pos, opinion_pos]
Index: []

In [ ]:
df.shape

(354064, 13)

In [ ]:
df.head()

In [ ]:
df.drop(columns=['sentence_set'], inplace=True)

In [ ]:
df.to_csv('/content/drive/MyDrive/nlpdata/clothes.csv', index=False)

In [ ]:
ori_df = pd.DataFrame(ori_data)

In [ ]:
ori_df.head()

       reviewerID        asin  ... unixReviewTime   reviewTime
0  A1VXOAVRGKGEAK  0439893577  ...     1390953600  01 29, 2014
1   A8R62G708TSCM  0439893577  ...     1395964800  03 28, 2014
2  A21KH420DK0ICA  0439893577  ...     1359331200  01 28, 2013
3   AR29QK6HPFYZ4  0439893577  ...     1391817600   02 8, 2014
4   ACCH8EOML6FN5  0439893577  ...     1399248000   05 5, 2014

[5 rows x 9 columns]